*{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    background-color:#3F3F3F ;
    gap: 200px;
    justify-content: space-around,center;
    align-items: center;
    width: 100%;
    height: 78px;
}
.logo{
    width: 3%;
}
main{
    background-color: #777171;
}
.zogolovki{
    color: #cec111;
    font-size: 24px;
}
.slide1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.slide1_spisok{
    align-self: flex-start;
    padding-left: 105px;
    transform: rotate(15deg);
    font-size: 50px;
}
.slide1_kartinka{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.text1{
    width: 28%;
    font-size: 50px;
}
.kartinka{
    width: 850px;
    padding-left: 20px;

}
.slide2{
    display:flex;
    align-items: center;
    gap: 200px;
    font-size: 50px;
}
.slide2_text{
    width: 35%;
    font-size: 50px;
}
